 :root {
    --base-bgcolor:rgba(0,0,0,0.9);
    --navbar-bgcolor:#000;
    --navbar-color:#fff;
    --hover-color:#ddd;
    --header-navcolor:#111;  }

  *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box; }

  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    html {
      font-size: 62.5%; }
      @media only screen and (max-width: 560px) {
        html {
          font-size: 56.25% !important;} }
      @media only screen and (max-width: 1050px) {
        html {
          font-size: 50%; } }
      @media only screen and (min-width: 1350px) {
        html {
          font-size: 75%; } }

  body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }
  .bg-black{
    background: var(--base-bgcolor); 
  }
  
    .header{
      height: 100vh;
      background-color: forestgreen;
    }
  .header_nav{
    background: var(--header-navcolor);
    height: 100px;
  } 
    .header_logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
    .header_logo {
      height: 3.5rem; }
      .navigation_background {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        /*background: var(--navbar-bgcolor);*/
        background-image: radial-gradient(#121, #232);
        z-index: 1000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        transition: transform 1.2s cubic-bezier(.68,-0.55,.27,1.55);
         }
        @media only screen and (max-width: 52.25em) {
          .navigation_background {
            height: 8px;
            width: 8px;
            top: 4.5rem;
            right: 4.5rem; } }
        @media only screen and (max-width: 37.5em) {
          .navigation_background {
            height: 6px;
            width: 6px;
            top: 5.5rem;
            right: 5.5rem; } }

      .navigation_nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

      .navigation_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%; }

      .navigation_item {
        margin: 1rem;
        width: 50px; 
        }

      .navigation_link:link, .navigation_link:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: rgba(240, 26, 140, 0.938);
        border-radius: 10%;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(57, 230, 14) 50%);
        background-size: 220%;
        transition: all .4s; }
        .navigation_link:link span, .navigation_link:visited span {
          margin-right: 1.5rem;
          display: inline-block; }

      .navigation_link:hover, .navigation_link:active {
        background-position: 100%;
        color: #e4e0de;
        transform: translateX(1rem); }

      .nav_active_background{
        transform: scale(1000);
      }
      .nav_active_nav{
        opacity: 1;
        width: 100%; 
      }

        .menu {
          display: block;
          width: 30px;
          height: 30px;
          background-color: #000;
          position: fixed;
          outline: none;
          top: 3rem;
          right: 3rem;
          z-index: 2000;
          text-align: center;
          cursor: pointer;
           }
           .menu, .menu::before, .menu::after {
            display: inline-block; }
          .menu::before, .menu::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s; }
           @media only screen and (max-width: 52.25em) {
            .menu {
              top: 4rem;
              right: 4rem; } }
          @media only screen and (max-width: 37.5em) {
            .menu {
              top: 3rem;
              right: 3rem; } }
          .menu .pix {
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 100%;
            transition: 0.2s ease-in-out; }
            .menu .pix:nth-of-type(1) {
              transform: translate(0px, 0px); }
            .menu .pix:nth-of-type(2) {
              transform: translate(12px, 0px); }
            .menu .pix:nth-of-type(3) {
              transform: translate(24px, 0px); }
            .menu .pix:nth-of-type(4) {
              transform: translate(0px, 12px); }
            .menu .pix:nth-of-type(5) {
              transform: translate(12px, 12px); }
            .menu .pix:nth-of-type(6) {
              transform: translate(24px, 12px); }
            .menu .pix:nth-of-type(7) {
              transform: translate(0px, 24px); }
            .menu .pix:nth-of-type(8) {
              transform: translate(12px, 24px); }
            .menu .pix:nth-of-type(9) {
              transform: translate(24px, 24px); }
          .menu:hover .pix {
            background-color: #757376; }
            .menu:hover .pix:nth-of-type(1) {
              transform: translate(-6px, -6px); }
            .menu:hover .pix:nth-of-type(3) {
              transform: translate(30px, -6px); }
            .menu:hover .pix:nth-of-type(7) {
              transform: translate(-6px, 30px); }
            .menu:hover .pix:nth-of-type(9) {
              transform: translate(30px, 30px); }
          .menu.active .pix:nth-of-type(1) {
            transform: translate(0, 0); }
          .menu.active .pix:nth-of-type(2) {
            transform: translate(6px, 6px); }
          .menu.active .pix:nth-of-type(3) {
            transform: translate(24px, 0); }
          .menu.active .pix:nth-of-type(4) {
            transform: translate(6px, 18px); }
          .menu.active .pix:nth-of-type(6) {
            transform: translate(18px, 6px); }
          .menu.active .pix:nth-of-type(7) {
            transform: translate(0, 24px); }
          .menu.active .pix:nth-of-type(8) {
            transform: translate(18px, 18px); }
          .menu.active .pix:nth-of-type(9) {
            transform: translate(24px, 24px); }
          .menu.active:hover .pix:nth-of-type(1) {
            transform: translate(-6px, -6px); }
          .menu.active:hover .pix:nth-of-type(2) {
            transform: translate(3px, 3px); }
          .menu.active:hover .pix:nth-of-type(3) {
            transform: translate(30px, -6px); }
          .menu.active:hover .pix:nth-of-type(4) {
            transform: translate(3px, 21px); }
          .menu.active:hover .pix:nth-of-type(6) {
            transform: translate(21px, 3px); }
          .menu.active:hover .pix:nth-of-type(7) {
            transform: translate(-6px, 30px); }
          .menu.active:hover .pix:nth-of-type(8) {
            transform: translate(21px, 21px); }
          .menu.active:hover .pix:nth-of-type(9) {
            transform: translate(30px,30px); }

   .header_message{
        max-width: 80%;
        margin: 0 auto; 
   }
   .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 500px;
   }
     @media only screen and (max-width: 700px) {
            .wrapper{
              flex-direction: column-reverse;
              justify-content: center;
              height: 400px;
              } }
   .message{
      letter-spacing: 0.3px;
      font-size: 5vmin;
      color: rgba(255,254,254,0.8);
      float: left;
      width: 50%;
   }
    @media only screen and (max-width: 700px) {
            .message{
      
              } }
    .message span{
      transition: 3s all;
      animation: lettermove 3s linear infinite;
    }
     .message span::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 300ms;
     }
   .photo{
     float: right;
     transition: 0.5s all;
     animation: photosliding 5s linear infinite;
     animation-fill-mode: backwards;
     width: 50%;
   }
     @media only screen and (max-width: 700px) {
            .photo{
              width: 100%;
              margin-top: 10px;
              float: none;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              } }
    .image{
       width: 30vw;
       height: 30vw;
       border-radius: 50%;
       border: 2px solid #ddd;
    }
    @media only screen and (max-width: 700px) {
            .image{
               width: 30vmin;
               height: 30vmin;
              } }
    .tag{
      margin-left: 20px;
      left: 0;
      padding: 10px;
      text-rendering: optimizeLegibility;
      color: #515152;
      position: absolute;
      bottom: 0;
      font-size: 18px;
      font-family: 'Dancing Script', cursive;
    }
    .top-tag{
      top:95px;
      bottom:auto;
    }
 /* @keyframes photosliding {
    0%{
      transform: translateX(50px);
    }
    10%{
      transform: rotateZ(45deg);
    }
    20%{
      transform: translateX(100px);
    }
    30%{
      transform: rotateZ(100deg);
    }
    40%{
      transform: translateX(300px);
    }
    50%{
      transform: rotateZ(180deg);
    }
    65%{
      transform: translateX(-300px);
    }
    75%{
      transform: rotateZ(-180deg);
    }
    85%{
      transform: translateX(-200px);
    }
    100%{
      transform: rotateY(-45deg);
    }
  }
  @keyframes lettermove{
    0%{
      transform: translateX(10px);
    }
    10%{
      transform: translateX(30px);
    }
     20%{
      transform: translateX(40px);
    }
    30%{
      transform: translateX(50px);
    }
     50%{
      transform: translateX(100px);
    }
    70%{
      transform: translateX(150px);
    }
    100%{
      transform: translateX(200px);
    }
  }*/

.body{
  background-color: firebrick;
  font-size: 34px;
}
  #about{
    background-color: fuchsia;
  }
  #skills{
    background-color: hotpink;
  }
  #contact{
    background-color: khaki;
  }
  #portfolio{
    background-color: lightcoral;
  }





