html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}
a{ text-decoration: none;}
a:hover{
  text-decoration: none;
}
li{
  list-style: none;
}
p{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}
.extra-div h2,.servicediv h2{
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
}
i{
  color: #2fccd0;
}
/* actual css starts */

.header{
width: 100%;
height: 100vh;
background:linear-gradient(rgba(133, 71, 141, 0.322),rgba(0, 255, 34, 0.3)), url('../img/bgdesktop1.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
position: relative;
}
.header::before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar::before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  background: #fff;
}
.profilePhoto{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.font-header{
  font-size: xx-large !important;
  text-transform: capitalize !important;
}
.c-green{
  color: green !important;
}
.c-marron{
  color:#220117 !important;
}
.nav-item a{
  color: #fff!important;
  font-weight: bold;
}
.header-section{
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  position: relative;
}
.center-div{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.header-buttons a{
border: 1px solid #fff;
border-radius: 100px;
margin: 0 5px;
padding: 12px 35px;
outline: none;
color: #fff;
font-size: 1rem;
font-weight: 400;
line-height: 1.4;
text-align: center;
}
.header-buttons a:hover{
  color: #50d1c0;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: #fff;
}

/* extra header div css starts */
.portfolio{
  padding-top: 100px;
}
.header-extradiv{
  width: 100%;
  height: auto;
  margin: 100px 0;
 text-align: center;
}
.extra-div{
  background: #fff;
  border: medium none;
  padding: 50px!important;
  border-radius: 3px;
  transition: 0.3s;
}
.extra-div:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-20px);
}
/* extra header div css ends */


/* offer css starts */
.skill{
  background: #f7f7f9;
  padding: 50px 0;
  padding-top: 100px;
  margin-bottom: 50px;
}
.headings{
  margin-bottom: 50px;

}
.headings h1{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.names h1{
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
.service-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress{
  height: 0.6rem!important;
  margin-bottom: 25px!important;
 
}
/* offer css ends */

/* project done starts */
.about{
  padding-top:100px ;
}
.about h1{
  font-size: 2rem;
  text-align: center;
}
/* project done end */

/* priceing css */
.pricing{
  width: 100%;
  height: 100vh;
  padding: 50px;
  position: relative;
}
.pricing::before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: -1;
 
  background: linear-gradient(160deg,#16c9f6 55%,#fff 0);
}
.money{
  font-size: 30px;
  line-height: 1;
  color: #606060;
}
.card{
  transition: 0.4s ease;
}
.card-header{
  font-size: 1.6rem;
  font-weight: bold;
  background: #fff!important;
  padding: 25px 9!important;
}
.card-body{
  padding: 30px 0!important;
}
.card-body li{
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #606060;
}
.card-footer{
  padding: 30px 0!important;
  background: white!important;
}
.card-footer a{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  }
  .card:hover .card-footer a{
      color: #fff;
      background-color: #50d1c0;
      text-decoration: none;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .card:hover{
      transform: translateY(-20px);
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .card:hover .card-header,.card:hover .money{
      color: #50d1c0;
  }
  .card-second{
      transform: translateY(-20px);
      /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
  }
/* priceing css */



/* contact us css */
.field {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.sns-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  transition-duration: .5s;
  transform: rotateX(45deg);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
  cursor: pointer; }
  .sns-btn--twitter {
    background-color: #1da1f2;
  }
  .sns-btn--facebook {
    background-color: #3b5998;
  }
  .sns-btn--instagram {
    background-color: #dd2b75;
  }
  .sns-btn--github {
    background-color: #111111;
  }
  .sns-btn--linkedin {
    background-color: #083697;
  }
  .sns-btn--quora {
    background-color: #e01a1a;
  }
  .sns-btn--youtube {
    background-color: #db1c0e;
  }
  .sns-btn--dev {
    background-color: #0e0d0d;
  }
  .sns-btn--codepen {
    background-color: #0e0d0d;
  }
  .sns-btn--envelope {
    background-color: #0e0d0d;
  }
  .sns-btn:hover {
    transform: scale(1.2);
    box-shadow: none;
  }
  .sns-btn__icon {
    font-size: 33px;
    letter-spacing: 0.1em;
    color: #fff;
  }
.contactus{
  width: 100%;
  height: 100vh;
  padding: 80px 0;
  position: relative;
}
.contactus::before{
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background:linear-gradient(rgba(0, 217, 255, 0.3),rgba(0, 255, 34, 0.3)), url('../img/bgdesktop2.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
z-index: -1;
}
.form-button button{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  background: transparent;

}
form:hover .form-button button{
  background: #fff;
  color: #50d1c0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
  font-size: 0.8rem;
}
.form-button button:hover{
  color: #50d1c0;
}
/* contact us css ends */

/* footer css starts */
.footersection{
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  background: #0f7230;
  position: relative;

}
.footersection p{
  color: #fff;
}
.footersection li a{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
.footersection h3{
  text-transform: uppercase;
  color: #fff;
  margin: 25px;
  font-size: 1.2rem!important;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#myBtn{
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  color: #fff;
  background: #296406;
  padding: 10px;
  border-radius: 10px;
}
#myBtn:hover{
  background: #606066;

}
/* footer css ends */

/* media queries */
@media (max-width: 768px){
  .nav-item{
      text-align: center!important;
  }
  .pricing,.happyclients,.contactus{
      height: auto;
      margin-top:50px ;
  }
  .card-second{
      transform: translateY(0px);
      margin: 30px 0;
  }
  .contactus p{
      padding: 0 50px;
  }
  .footer-div:nth-child(2){
      text-align: left!important;

  }
  .footerdiv{
      margin: 30px;

  }
}  
