/*  ========================================================================================
                                   Copyright SHAHID SIDDIQUI @2020
    ========================================================================================
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<CONTENTS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
           1.BASIC PAGE STYLE                                       18->
           2.HEADER STYLE                                           70->
           3.PROJECT SECTION STYLE                                  188->
           4.SKILLS SECTION STYLE                                   254->
           5.ABOUT SECTION STYLE                                    289->
           6.CONTACT SECTION STYLE                                  300->
           7.FOOTER SECTION STYLE                                   405->
           8.DIFFERENT DEVICE STYLE                                 455->
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    ###################%%%%%%%%%%%%%%%%%%%$$$$$$$$$$$$$############&&&&&&&&&&&&&&&&&&&&&&&&&&
*/
/*   ::::::::::::::::::::::::::::::::BASIC PAGE STYLE:::::::::::::::::::::::::::::::::::::::::                  */
    
    :root {
      --blue :#28007d;
      --white :#fff;
      --violet :#280080;
      --hover-color:#380fce;
      --card-front-bg:#bbb;
      --card-front-c:rgb(88, 64, 175);
      --card-back-bg:#6514cf;
      --card-back-c:rgb(141, 27, 207);
      --skill-bg:#f7f7f9;
      --skill-head-c:#2e2e2e;
      --twitter-bg:#1da1f2;
      --facebook-bg:#3b5998;
      --instagram-bg:#dd2b75;
      --github-bg:#111111;
      --linkedin-bg:#083697;
      --quora-bg:#e01a1a;
      --youtube-bg:#db1c0e;
      --dev-bg:#0e0d0d;
      --form-button:#50d1c0;
      --footer-bg:#2505b4;
      --arrow-bg:#0e47b3;
      --arrow-hover-bg:#3f0f66;
      --slide-time:0.5s;
      --slide-delay:1s;
    }
    html{
      scroll-behavior: smooth;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    @media  screen and (max-width:700px){
      .p-10{
        padding-top: 20px !important;
      }
    }
    .c-green{
      color: var(--blue) !important;
    }
    .c-white{
      color:var(--white) !important;
    }
    .c-violet{
      color: var(--violet);
    }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::HEADER STYLE:::::::::::::::::::::::::::::::::::::::::::::::::::          */

  .header{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgb(214 135 124 / 33%),rgb(51 52 82 / 74%)), url(../img/bgdesktop1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
  }
  .navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
    background: var(--white);
  }
  .profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity:0;
    border: 4px solid var(--white);
    animation: photorotate calc(var(--slide-time)*2) ease-in  2 forwards;
  }
  .center-div h1{
    opacity: 0;
    transform: scale(0);
    animation: titleslide calc(var(--slide-time)*2) ease-in var(--slide-delay) forwards;
  }
  .font-header{
    font-size: xx-large !important;
    text-transform: capitalize !important;
  }
  .navbar {
    background-color: #2b2cd894;
  }
  .nav-item a{
    color: var(--white) !important;
    font-weight: bold;
  }
  .header-section{
    width: 100%;
    height: inherit;
    color: var(--white);
    text-align: center;
    position: relative;
  }
  .center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  .header-buttons a{
  border: 1px solid var(--white);
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  }
  .header-buttons a:hover{
    color: var(--hover-color);
    background-color: var(--white);
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: var(--white);
    opacity: 0;
    transform: translateY(1000px);
    animation: ballon calc(var(--slide-time)*2) ease-in var(--slide-delay) forwards;
  }
  .navbar-brand{
    transform: translateX(-1000px);
     animation: slideright calc(var(--slide-time)*2) ease-in var(--slide-delay) forwards;
  }
  .navbar-nav{
    transform: translateX(1000px);
    animation: slideleft calc(var(--slide-time)*1) ease-in-out var(--slide-delay) forwards;
  }
   @media sreen and (max-width:950px){
     .navbar-nav{
       animation:slideleft calc(var(--slide-time)/4) ease-in-out backwards ;
     }
   }
  .center-div .header-buttons{
    opacity: 0;
     animation: contactbutton calc(var(--slide-time)*4) ease-out calc(var(--slide-delay)) forwards ;
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::PROJECT SECTION STYLE::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .projects{
    padding-top: 100px;
  }
  .extra-div{
    background: var(--white);
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
  }
  .pad{
    padding-top: 5rem;
  }
  .pad h1{
    color: #1da1f2;
  }
  .img-modify{
    width:100%;
    height:400px;
    object-fit:cover;
  }
  /* .extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
  } */
  /* .flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: var(--card-front-bg);
    color: var(--card-front-c);
  }

  .flip-card-back {
    background-color: var(--card-back-bg);
    color: var(--card-back-c);
    transform: rotateY(180deg);
  }
  .flip-card-back p {
    color: var(--card-back-c);
  } */
  .pro-button{
    display: flex;
    justify-content: space-evenly;
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::SKILLS SECTION STYLE::::::::::::::::::::::::::::::::::::::::::::::     */

  .skill{
    background: var(--skill-bg);
    padding: 50px 0;
    padding-top: 100px;
    margin-bottom: 50px;
  }
  .headings{
    margin-bottom: 50px;

  }
  .headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .names h1{
    color: var(--skill-head-c);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
  
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::ABOUT SECTION STYLE::::::::::::::::::::::::::::::::::::::::::::::     */

  .about{
    padding-top:100px ;
  }
  .about h1{
    font-size: 2rem;
    text-align: center;
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::CONTACT SECTION STYLE::::::::::::::::::::::::::::::::::::::::::::::     */

  .field {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }

  .sns-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    transition-duration: .5s;
    transform: rotateX(45deg);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
    cursor: pointer; }
    .sns-btn--twitter {
      background-color: var(--twitter-bg);
    }
    .sns-btn--facebook {
      background-color: var(--facebook-bg);
    }
    .sns-btn--instagram {
      background-color: var(--instagram-bg);
    }
    .sns-btn--github {
      background-color: var(--github-bg);
    }
    .sns-btn--linkedin {
      background-color: var(--linkedin-bg);
    }
    .sns-btn--quora {
      background-color: var(--quora-bg);
    }
    .sns-btn--youtube {
      background-color: var(--youtube-bg);
    }
    .sns-btn--dev {
      background-color: var(--dev-bg);
    }
    .sns-btn--codepen {
      background-color: var(--dev-bg);
    }
    .sns-btn--envelope {
      background-color: var(--dev-bg);
    }
    .sns-btn:hover {
      transform: scale(1.2);
      box-shadow: none;
      color:#0056b300;
      text-decoration: none;
    }
    .sns-btn__icon {
      font-size: 33px;
      letter-spacing: 0.1em;
      color: var(--white);
    }
  .contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
  }
  .contactus::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:linear-gradient(rgba(0, 217, 255, 0.3),rgba(0, 255, 34, 0.3)), url('../img/bgdesktop2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  }
  .form-button button{
    border: 1px solid var(--form-button);
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: var(--form-button);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;

  }
  form:hover .form-button button{
    background: var(--white);
    color: var(--form-button);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  ::placeholder{
    font-size: 0.8rem;
  }
  .form-button button:hover{
    color: var(--form-button);
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::FOOTER SECTION STYLE::::::::::::::::::::::::::::::::::::::::::::::     */

  .footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: var(--footer-bg);
    position: relative;

  }
  .footersection p{
    color: var(--white);
  }
  .footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--white);
    text-transform: capitalize;
    text-align: center;
  }
  .footersection h3{
    text-transform: uppercase;
    color: var(--white);
    margin: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
  #myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: var(--white);
    background: var(--arrow-bg);
    padding: 10px;
    border-radius: 10px;
  }
  #myBtn:hover{
    background: var(--arrow-hover-bg);

  }
  .quick_access li{
    list-style: none;
  }
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::DIFFERENT DEVICE  STYLE::::::::::::::::::::::::::::::::::::::::::::::     */

/* media queries */
@media (max-width: 768px){
  .nav-item{
      text-align: center!important;
  }
  .contactus{
      height: auto;
      margin-top:50px ;
  }
  .contactus p{
      padding: 0 50px;
  }
  .footer-div:nth-child(2){
      text-align: left!important;

  }
  .footerdiv{
      margin: 30px;

  }
}  
/*     ----------------------------------------------------------------------------------------------------------     */

/*     :::::::::::::::::::::::::::::::::::::::KEYFRAMES::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::     */
@keyframes slideright{
  0%{
     transform: translateX(-1000px);
  }
  55%{
    transform: translateX(400px);
  }
  100%{
     transform: translateX(0px);
  }
}
@keyframes slideleft{
  0%{
     transform: translateX(1000px);
  }
  50%{
     transform: translateX(-400px);
  }
  100%{
     transform: translateX(0px);
  }
}
@keyframes photorotate{
  0%{
    rotate: 90deg;
    opacity: 0.0;
  }
  25%{
    rotate: 180deg;
    opacity: 0.4;
  }
  50%{
    rotate: 270deg;
    opacity: 0.6;
  }
  100%{
    rotate: 360deg;
    opacity: 1.0;
  }
} 
@keyframes titleslide{
  0%{
    transform: scale(0.6);
    opacity: 0;
  }
  25%{
    transform: scale(2.5);
    opacity: 0.5;
  }
  50%{
    transform: rotate(45deg);
    opacity: 0.7;
  }
  75%{
    transform: scale(0.5);
  }
  100%{
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes ballon {
  0%{
    opacity: 0;
    transform: translateY(1000px);
  }
  100%{
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes contactbutton {
  0%{
     opacity: 0;
     transform: translateY(-1000px);
  }
  25%{
     opacity: 0.5;
     transform: -400px;
  }
  50%{
    opacity: 0.6;
    transform: rotate(-15deg);
  }
  65%{
    opacity: 0.6;
    transform: rotate(15deg);
  }
  75%{
    opacity: 0.7;
    transform: rotate(-15deg);
  }
  90%{
    opacity: 1;
    transform: rotate(0deg);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bodybgblur{
  0%{
    filter: blur(81px);
  }
  50%{
    filter:blur(40px);
  }
  100%{
    filter: blur(0px);
  }
}